<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FunPro.CW1._7586.DAL.Properties.Settings.ConnectionString"
            connectionString="Data Source=C:\Users\Emert\Desktop\zauk cw\FunPro.CW1.7586\FunPro.CW1.7586\jyro_db.sdf;Password=admin" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>